<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/admin/layout}"
>

<body>
<div id="wrapper">
    <div class="container" layout:fragment="content">
        <div class="wrapper">
            <div class="row border-bottom white-bg dashboard-header">
                <h2>Index</h2>
            </div>
        </div>
        <br>
        <div class="wrapper">
            <div class="row border-bottom white-bg dashboard-header">
                <div class="ibox float-e-margins">

                    

                </div>
            </div>
        </div>

            <div class="margin-footer">
            </div>
</div>


<!-Staff ajax-->
<th:block layout:fragment="scripts">
</th:block>

<!--POP UP WELCOME MESSAGE-->
<script th:replace="layout :: welcomeMsg">
</script>
<!--END HERE-->


</body>
</html>