<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}"
>

<body>
<div id="wrapper">
    <div class="container" layout:fragment="content">
        <div class="wrapper">
            <div class="row border-bottom white-bg dashboard-header">
                <h2>Edit Class</h2>
            </div>
        </div>
        <br>
        <div class="wrapper">
            <div class="row border-bottom white-bg dashboard-header">
                <div>
                    <form role="form">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-xs-12">
                                <div class="form-group">
                                    <label>Class Name</label>
                                    <input type="text" class="form-control" th:field="*{roomconfig.name}" id="name" aria-describedby="basic-addon1" required>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-xs-12">
                                <div class="form-group">
                                    <label>Class Description</label>
                                    <input type="text" class="form-control" th:field="*{roomconfig.description}" id="descrp" aria-describedby="basic-addon1" required>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" th:value="${roomconfig.getId()}" id="roomConfig_id"/>
                        <button class="btn btn-w-m btn-primary btn-block" id="submit">update</button>
                    </form>
                    <br>
                </div>
                <div>

                </div>
                <br>
            </div>
        </div>
        <div class="margin-footer">
        </div>

    </div>


    <script th:src="@{/js/jquery-3.1.1.min.js}"></script>
    <!-Staff ajax-->
    <th:block layout:fragment="scripts">
        <script th:src="@{/ajax/roomconfig/edit.js}"></script>
    </th:block>

    <!--POP UP WELCOME MESSAGE-->
    <script th:replace="layout :: welcomeMsg">
    </script>
    <!--END HERE-->


</body>
</html>
