<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"  layout:decorate="~{/admin/layout}">

<body>
    <div id="wrapper">
        <div class="container" layout:fragment="content">
            <div class="wrapper">
                <div class="row border-bottom white-bg dashboard-header">
                    <h2>Create Code</h2>
                </div>
            </div>
            <br>
            <div class="wrapper">
                <div class="row border-bottom white-bg dashboard-header">
                        <form  role="form" method="post" id="editCode" enctype="multipart/form-data">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-xs-12">
                                        <div class="form-group">
                                          <label>Name*</label>
                                          <input type="text" class="form-control" name="name" id="name" aria-describedby="basic-addon1">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-xs-12">
                                        <div class="form-group">
                                          <label>Type*</label>
                                          <input type="text" class="form-control" name="type" id="type" placeholder="Enter Code Type" aria-describedby="basic-addon1">
                                        </div>
                                    </div>
                                </div>
                                 <div class="row">
                                    <div class="col-lg-12 col-md-12 col-xs-12">
                                        <div class="form-group">
                                          <label>Description*</label>
                                          <textarea class="form-control" name = "description" id="description" rows="10" placeholder="Enter Code description"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="pull-right">
                                    <button class="btn btn-w-m btn-primary" id="createOrUpdateCode" >Submit</button>
                                </div>
                                 <input type="hidden" th:name="id"  th:value="${id}" >
                                 <input type="hidden" th:name="version" >
                            </form>
                </div>
            </div>
        </div>
            <br>
            <div class="margin-footer">
            </div>
        </div>
        <!--Staff ajax-->
        <th:block layout:fragment="scripts">
            <script th:src="@{/ajax/code/edit.js}"></script>
             <script th:src="@{/ajax/entity_loader.js}"></script>
              <script th:src="@{/ajax/entity_saver.js}"></script>
        </th:block>

        <!--POP UP WELCOME MESSAGE-->
        <!--END HERE-->


</body>
</html>
