<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/admin/layout}">



<body>

	<div id="wrapper">
	<div class="container" layout:fragment="content">

		<div class="row">
			<div class="col-md-12">

				<p></p>

				<div class="panel">
					<div class="panel-heading">
						<div class="panel-title">
							<h5>Codes</h5>
						</div>
					</div>
					<div class="panel-body p-20">

						<table class="table table-striped dt-responsive nowrap table-bordered table-hover" id="table">
							<thead>
								<tr>
									<th>Type</th>
									<th>View</th>
								</tr>
							</thead>
							<tfoot>
								<tr>
									<th>Type</th>
									<th>Ope</th>
								</tr>
							</tfoot>
						</table>

						<!-- /.col-md-12 -->
					</div>
				</div>
			</div>

		</div>
		<!-- /.row -->

	</div>
		<div class="margin-footer">
		</div>

	</div>
	<th:block layout:fragment="scripts">
    	<script th:src="@{/datatables/js/jquery.dataTables.js}"></script>
	<script th:src="@{/datatables/js/dataTables.bootstrap.js}"></script>
	<script th:src="@{/datatables/select/js/dataTables.select.js}"></script>
	<script th:src="@{/js/jquery.spring-friendly.min.js}"></script>
    <script th:src="@{/ajax/code/list.js}" type="text/javascript"></script>
    <!--<script th:src="@{/js/jquery-3.1.1.min.js}"></script>-->
    <!--<script src="@{https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js}"></script>-->
    <!--<script th:src="@{/js/jquery.dataTables.min.js}"></script>-->
    <!--<script th:src="@{/js/dataTables.bootstrap.js}"></script>-->
</th:block>

<!--POP UP WELCOME MESSAGE-->
<!--END HERE-->



</body>
</html>
	